@layer tailwind-base, primereact, tailwind-utilities;
@import 'primereact/resources/themes/lara-light-cyan/theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* html,
body,
#root,
#app {
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
} */

